button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #689EAD;
    width: 100%;
    height: 3rem;
    border: 0;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #FFFFFF;
    font-size: bold;
    cursor: pointer;
}

button.action {
	height: 1.2rem;
	width: 4rem;
	padding: 0.2rem;
	font-size: 0.6rem;
}

button:hover {
    background: #7DB3C2;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #eeeeee;
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0.2rem;
}

div.shadowBox {
	box-shadow: 0 0 1rem grey;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0.2rem 0.2rem 0px 0px;
}

thead {
	display: table-header-group;
	vertical-align: middle;
}

th {
	background: #3A5961;
	color: #FFFFFF;
	padding: 1rem 0;
}

tr {
	padding: 1rem 0;
}

tr:hover {
	background-color: #CFE1E6;
}

td {
	padding: 0.5rem 0;
}